body{
  background-image: url("");
  background-repeat: no-repeat;
  background-size:cover;
}
 #cart{
  margin-top:150px;
}
nav{
  font-size: small;
}

#logo{
  width: 45px;
  margin-right:   10px;
  border-radius: 80%;
}
#logo:hover{
  border-radius: 10%;
  transition: .2s;
}
.vl{
  border-right: solid 1px #cccccc;
  height: 36px;
}

#nombre-empresa{
  font-size: 20px;
  font-family:inherit;

}
#nombre-empresa:hover{
  font-weight: bold;
}

#iniciar-secion{
  font-size: 20px;
  margin-left: 40px;
  margin-right: 10px;
}

#carrito-compras{
  font-size: 20px;
}

#primerafila{
  margin-top: 2px;
}
#telefonos{
  float: right;
}
#carouselExampleIndicators{
  width: 100%;
  height: 560px;
}

#carouselExampleIndicators div img{
  width: 100%;
  height: 560px;
}
#comineza-explorar{
  font-size: 30px;
  font-family:inherit;
  te

}

#ofertas img{
  height: 210px;
  margin: 0px;
  border-radius: 0%;
  margin-bottom: 10px;

}
#ofertas img:hover{
  width: 99.6%;
  transition: .2s;
  background-color: white;
   box-shadow: 5px 8px rgba(0, 0, 0, 0.2);;

}

#ofertas {
  padding-top: 0px;
}


#cotizacion{
  border:solid 5px #cccccc;
  float: right;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#contacto2{
  border:solid 1px #cccccc;
  padding: 15px;
  margin-right: 20px;

}
.contacto1 h4{
 font-size: 20px;
}
#cotizacion h6 span{
  color:RGB(36, 42, 169);
  font-weight: bold;
}

#cotizacion  h6{
  font-weight: bold;
}



#botones2{

  margin: 10px;
}


.footer{
  padding: 30px 0;
  bottom:;
  width:100%;
  background-color: HSL(200, 10%, 12%);
  color:#efefef;
  margin-top: 100px;
}

.footer a{
  color: #9af7f3;
}

@media query only screen and (max-with:768px){
.footer{ height: 300px;}
}

#tres-iconos .col-md-2{
  margin: 5px;
  padding-top: 19px;
  border:solid 2px HSL(200, 10%, 12%);
  border-radius: 50%;
  margin-top: 100px;
}
#tres-iconos .col-md-2:hover{
 background-color: HSL(41, 77%, 52%);
 color: white;
 transition: .3s;

}


#tres-iconos I{
  font-size: 30px;
}

#deportesuno{
  background-image: url("../img/run.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
   box-shadow: 5px 8px #DA8292;


}
#deportesdos{
  background-image: url("../img/entrenamiento.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  box-shadow: 5px 8px #F5DE86;

}
#deportestres{
  background-image: url("../img/fut2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  box-shadow: 5px 8px #A6A5D5;
}
#deportescuatro{
  background-image: url("../img/hombre.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  box-shadow: 5px 8px #5D595B;
}
#deportescinco{
  background-image: url("../img/mujer.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  box-shadow: 5px 8px #F5AFDA;
}
#deportesseis{
  background-image: url("../img/niños.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 200px;
  box-shadow: 5px 8px #75F191;
}
#segundaseccion{
  margin-top: 20px;
  margin-bottom: 30px;

}
#futbolimg{
  margin-top: 90px;
  background-color: HSL(48, 4%, 5%);
  border: solid 5px  HSL(48, 4%, 5%);
  padding-bottom: 20px;
  margin-bottom: 10px;
}


#c-dos .card{
  margin: 10px
}

#redes{
  font-size: 25px;

}
#redes li a{
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  color: HSL(48, 4%, 5%);
}

#lomasvendido{
  font-family:serif;
  font-kerning:auto;
  background-color: #FC0703;
  color: #FFFFFF;
  margin-top: 70px;
  margin-bottom: 30px;



}
 #abajo{
  font-size: 25px;

}
.verano{
  margin-top: 40px;
}
.categorias{
  margin-top: 100px;
}

#dep-fut{
  margin: 10px;
  margin-top: 20px;
}
